{% extends 'base.html' %}
  {% block head %}
<title>FlaskTask</title>
{% endblock %}
 {% block body %}
<div class="content">
  <table>
    <h1>Flask TODOOOOS</h1>
    <tr>
      <th>Todo</th>
      <th>Date added</th>
      <th>Actions</th>
    </tr>

    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <td>{{ task.dateCreated.date() }}</td>
      <td>
        <a href="/delete/{{task.id}}">Delete</a>
        <br />
        <a href="">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="taskcontent" id="taskcontent" />
    <input type="submit" value="Add Task" />
  </form>
</div>
{% endblock %}
